body {
  background-color: rgb(250, 241, 232);
}
.navbar {
  margin-bottom: 7rem;
}

#head {
  margin-bottom: 2%;
}
h1{
     text-align: center;
    }

img{
      margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 7%;
}

#work {
 text-align: center;
 }


#hero{
  text-align: center;
  }

  #contact {
    text-align: center;

  }

  footer{
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: 500;
}




